docker/pihole/etc-pihole/list.1.raw.githubusercontent.com.domains
docker/pihole/etc-dnsmasq.d/01-pihole.conf
docker/pihole/etc-dnsmasq.d/06-rfc6761.conf
docker/pihole/etc-pihole/adlists.list
docker/pihole/etc-pihole/custom.list
docker/pihole/etc-pihole/dns-servers.conf
docker/pihole/etc-pihole/gravity_old.db
docker/pihole/etc-pihole/gravity.db
docker/pihole/etc-pihole/list.1.raw.githubusercontent.com.domains.sha1
docker/pihole/etc-pihole/local.list
docker/pihole/etc-pihole/adlists.list
docker/pihole/etc-pihole/localbranches
docker/pihole/etc-pihole/localversions
docker/pihole/etc-pihole/pihole-FTL.conf
docker/pihole/etc-pihole/pihole-FTL.db
docker/pihole/etc-pihole/setupVars.conf
docker/pihole/etc-pihole/setupVars.conf.update.bak
docker/pihole/etc-pihole/migration_backup/adlists.list
docker/portainer/data/portainer.db
docker/portainer/data/portainer.key
docker/portainer/data/portainer.pub
docker/pihole/etc-pihole/GitHubVersions
docker/compose-files/pihole/.env
docker/compose-files/pihole/.env
docker/unifi/data/db/ace_stat.ns
docker/unifi/data/firmware.json
docker/unifi/data/keystore
docker/unifi/data/model_lifecycles.json
docker/unifi/data/system.properties
docker/unifi/data/system.properties.bk
docker/unifi/data/db/ace_stat.0
docker/unifi/data/db/ace.0
docker/unifi/data/db/ace.ns
docker/unifi/data/db/local.0
docker/unifi/data/db/local.ns
docker/unifi/data/db/mongod.lock
docker/unifi/data/db/storage.bson
docker/unifi/data/db/version
docker/unifi/data/db/diagnostic.data/metrics.2021-12-01T00-38-45Z-00000
docker/unifi/data/db/diagnostic.data/metrics.interim
docker/unifi/data/webrtc/logs/61a6c4a824aa9a001dbedca7/1638321253597.zip
docker/unifi/log/mongod.log
docker/unifi/log/server.log
docker/unifi/run/mongod.pid
docker/unifi/run/update.json
